<!DOCTYPE html>
<html lang="es">

    <%- include("./partials/head") %> 

<body class="body-cart">

    <%- include("./partials/header") %> 


    <main>
         <h3>Carrito de compras</h3>
        <div class="chosen-products">



            <% cart.forEach(e => { %>
                
               
            <div class="product-container">
            <div class="p-img">
                <img src="img/products/<%= e.product.image %>" alt="" srcset="">
            </div>
            <div class="p-details">
                <p><%= e.product.name %></p> <br>
                <p>Stock: <%= e.product.stock %></p> <br>
                <div class="p-amount">
                    <i class="fas fa-minus boton menos"></i>
                    <p id="p-cantidad">1</p>
                    <i class="fas fa-plus boton mas"></i>
                </div> <br>
                <sup>$</sup>
                <span class="p-price"><%= e.product.price %></span>
            </div>
            <div class="trash-container">
                <form action="/cart/quitar/<%=  e.id %>?_method=delete" method="POST">
                    <input type="submit" value="X"><!-- <i class="fas fa-trash"></i> -->
                </form> 
            </div>
        </div>
        
        <% }) %>
        
        </div>
       <!--  variable que contiene la suma de los precios -->
       <% let total = 0 %> 
        <!-- suma de los precios -->
        <% cart.forEach(e => { %>
         <% total += e.product.price  %> 
        <% }) %>
        <!-- pintando el precio -->
        <div class="total-container">
            <h4>El total es de:</h4>
            <p class="total" id="total">$ <%= total %> </p>
            
            <form action="/cart/comprar?_method=put" method="POST">
                <input id="submit" type="submit" value="Comprar!">
            </form>
        
        </div>

     

    </main>

    <%- include("./partials/footer") %> 

    <script src="/js/cart.js"></script>
</body>

</html>