<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head") %>

    <body class="bodyDetail">

        <%- include ("./partials/header") %>

            <main class="detail">
                <h1><%= productoDetallado.name %> </h1>
                <article class="descripcion">
                    <p class="textoDescripcion"><%= productoDetallado.description %> </p>
                    <div class="imgPrincipal">
                        <img src="/img/products/<%= productoDetallado.image %> " alt="placa de yeso">
                    </div>
                    <% productoDetallado.qualities.split('.,').forEach(qualities => { %>
                        <p class="texto"><%= qualities %> </p>
                    <% }) %>
                    <div class="lista">
                        <% productoDetallado.qualities.split('.,').forEach(qualities => { %>
                        <p class="textoDesktop"><%= qualities %> </p>
                        <% }) %>
                        <ul>
                            <h3>Ventajas/Aplicacion</h3>
                            <% productoDetallado.advantages.split('.,').forEach(advantage => { %>
                                <li><%= advantage %> </li>
                            <% }) %>
                        </ul>
                        <div class="precioDesktop">
                            <span>$<%= toThousand(productoDetallado.price) %> </span>
                            <% if ((!locals.userLogin) || (msg==1)) { %>
                                <input type="submit" value="Añadir a carrito">
                            <% } else {%>
                                <form action="/cart/agregar/<%= productoDetallado.id %>" method="POST">
                                    <input type="submit" value="Añadir a carrito">
                                </form>
                            <% } %> 
                        </div>
                        <% if (!locals.userLogin) { %>
                            <p class="alertSesion">Debe iniciar sesión para añadir el producto al carrito</p>
                        <% } %> 
                        <% if (msg==1) { %>
                            <p class="alertSesion">El producto ya se encuentra en el carrito</p>
                        <% } %> 
                    </div>
                    <div class="button">
                        <span>$<%= toThousand(productoDetallado.price) %> </span>
                        <% if ((!locals.userLogin) || (msg==1)) { %>
                            <input type="submit" value="Añadir a carrito">
                        <% } else {%>
                            <form action="/cart/agregar/<%= productoDetallado.id %>" method="POST">
                                <input type="submit" value="Añadir a carrito">
                            </form>
                        <% } %> 
                    </div>
                    <% if (!locals.userLogin) { %>
                        <p class="alertSesion">Debe iniciar sesión para añadir el producto al carrito</p>
                    <% } %> 
                    <% if (msg==1) { %>
                        <p class="alertSesion">El producto ya se encuentra en el carrito</p>
                    <% } %> 
                </article>

                <!-- FORMS PARA CHEQUEAR EL FUNCIONAMIENTO DE LOS METODOS DEL CART -->
                <!-- <form action="/cart/quitar/1?_method=delete" method="POST">
                    <input type="submit" value="Eliminar">
                </form><br>
                <form action="/cart/comprar?_method=put" method="POST">
                    <input type="submit" value="comprar">
                </form> -->

                <h1 class="relacionados">Productos relacionados</h1>
                <section class="destacados">
                <article class="mobile">
                    <i class="fas fa-arrow-circle-left"></i>
                    <div>
                        <a href="/product/detail"><img src="/img/cutout_123566_popup_landscape_4x3_1.jpg" alt=""></a>
                    </div>
                    <h3><a href="">CLEANEO AKUSTIK LINEAR</a></h3>
                    <p>Placa de yeso perforada con formación de bordes sin relleno para una absorción acústica con efecto
                    purificador del aire</p>
                    <a class="ver-mas" href="/detailOfProduct">Ver más</a>
                </article>
                <article class="mobile">
                    <div>
                    <a href="/product/detail"><img src="/img/cutout_82877_detail_picture_1.jpg" alt=""></a>
                    </div>
                    <h3><a href="">AQUAPANEL CEMENT BOARD INDOOR</a></h3>
                    <p>Placa para baldosas idónea para toda clase de entornos con humedad</p>
                    <a class="ver-mas" href="/detailOfProduct">Ver más</a>
                </article>
                <article class="tablet">
                    <div>
                    <a href="/product/detail"><img src="/img/cutout_123584_detail_picture_1.jpg" alt=""></a>
                    </div>
                    <h3><a href="">SAFEBOARD</a></h3>
                    <p>Placa de protección radiológica para instalaciones radiográficas</p>
                    <a class="ver-mas" href="/detailOfProduct">Ver más</a>
                </article>
                <article>
                    <div>
                    <a href="/product/detail"><img src="/img/cutout_123615_detail_picture_1.jpg" alt=""></a>
                    </div>
                    <h3><a href="">SILENTBOARD</a></h3>
                    <p>Placa para el máximo aislamiento acústico en construcciones en seco</p>
                    <a class="ver-mas" href="/detailOfProduct">Ver más</a>
                </article>
                <i class="fas fa-arrow-circle-right"></i>
                </section>
            </main>

            <%- include ("./partials/footer") %>
    </body>

</html>