<!DOCTYPE html>
<html lang="es">

    <%- include ("./partials/head") %> 

<body class="bodyProduct">
    <%- include ("./partials/header") %> 

    <main class="product">
        <h1>Productos</h1>
        <section>
            <% products.forEach(producto => { %>
                <article class="contenedor">
                    <div class="name">
                        <h3><a href="/product/detail/<%= producto.id %> " target="_blank"><%= producto.name %> </a></h3>
                        <p><%= producto.description %> </p>
                    </div>
                    <div class="image">
                        <a href="/product/detail/<%= producto.id %>" target="_blank" ><img class="placas" src="/img/products/<%- producto.image %> " alt="placa de yeso" ></a>
                    </div>
                </article>
             
            <% }) %>
           
        </section>
    </main>
<%- include ("./partials/footer") %> 
</body>

</html>