<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %> 
    
<body class="signin">
    
    <%- include("../partials/header") %>
   
    <main class="signin">
        <h1>Editar Datos Personales</h1>
        <form action="/user/editUser?_method=PUT" method="POST" enctype="multipart/form-data">
            <h2 class="container bottom"></h2>
            <div class="container">
                <label for="first_name">Nombre</label>
                <input type="text" name="first_name" id="name" placeholder="Ingresa tu nombre" value="<%= user.first_name? user.first_name : "" %>" >
                <small id="nameError"><%= (locals.errors && errors.first_name) ? errors.first_name.msg : null %></small>
            </div>
            <div class="container">
                <label for="last_name">Apellido</label>
                <input type="text" name="last_name" id="lastName" placeholder="Ingresa tu apellido" value="<%= user.last_name? user.last_name : "" %>">
                <small id="lastNameError"><%= (locals.errors && errors.last_name) ? errors.last_name.msg : null %></small>
            </div>
            <div class="container">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email" value="<%= user.email? user.email : "" %>">
                    <small id="emailError"><%= (locals.errors && errors.email) ? errors.email.msg : null %></small>
            </div>
            <div class="container">
                <label for="phoneNumber">Celular</label>
                <input type="number" name="phoneNumber" id="phoneNumber" placeholder="11..." value="<%=user.phoneNumber? user.phoneNumber: ""%>">
                <small id="phoneNumberError"><%= (locals.errors && errors.phoneNumber) ? errors.phoneNumber.msg : null %></small>
            </div>
            <div class="container">
                <label for="city">Ciudad</label>
                <input type="text" name="city" id="city" placeholder="Ej: Buenos Aires, etc" value="<%= user.city? user.city: "" %>">
                <small id="cityError"><%= (locals.errors && errors.city) ? errors.city.msg : null %></small>
            </div>
            <% if (user.image !== 'default-profile-image.jfif') { %>
                <div class="container">
                    <span>Usted tiene la siguiente imagen:</span>
                    <img src="/img/users/<%= user.image %> " alt="" class="image-profile">
                </div>
                <div class="container">
                    <label for="signinFile" >Cambiar imagen</label>
                      <input class="signinFile" type="file" id="imagen" name="imageUser" >
                      <small id="imagenError"><%= (locals.errors && errors.imageUser) ? errors.imageUser.msg : null %> </small>
                </div>
             <% } else { %>
                <div class="container">
                    <label for="signinFile" >Agregar imagen</label>
                      <input class="signinFile" type="file" id="imagen" name="imageUser" >
                      <small id="imagenError"><%= (locals.errors && errors.imageUser) ? errors.imageUser.msg : null %> </small>
                </div>
            <% } %>
            <h2 class="bottom"></h2>
            <div class="bottom">
                <button type="submit" id="btn">Guardar Datos</button>
                <button type="reset">Cancelar</button>
            </div>

        </form>

    </main>
    
    <%- include("../partials/footer") %> 
    <script src="/js/profileValidation.js"></script>

</body>

</html>