<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %> 
    
<body class="signin">
    
    <%- include("../partials/header") %>
   
    <main class="signin">
        <h1>Editar Datos Personales</h1>
        <form action="/user/editUser?_method=PUT" method="POST" enctype="multipart/form-data">
            <h2 class="container bottom"></h2>
            <div class="container">
                <label for="first_name">Nombre</label>
                <input type="text" name="first_name" id="name" placeholder="Ingresa tu nombre" value="<%= user.first_name? user.first_name : "" %>" >
                <% if (locals.errors && errors.name) { %>
                    <small><%= errors.name.msg %></small>
                <% } %>
                
            </div>
            <div class="container">
                <label for="last_name">Apellido</label>
                <input type="text" name="last_name" id="lastName" placeholder="Ingresa tu apellido" value="<%= user.last_name? user.last_name : "" %>">
                <% if (locals.errors && errors.lastName) { %>
                    <small><%= errors.lastName.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email" value="<%= user.email? user.email : "" %>">
                <% if (locals.errors && errors.email) { %>
                    <small><%= errors.email.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="phoneNumber">Celular</label>
                <input type="number" name="phoneNumber" id="phoneNumber" placeholder="11..." value="<%=user.phoneNumber? user.phoneNumber: ""%>">
                <% if (locals.errors && errors.phoneNumber) { %>
                    <small><%= errors.phoneNumber.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="city">Ciudad</label>
                <input type="text" name="city" id="city" placeholder="Ej: Buenos Aires, etc" value="<%= user.city? user.city: "" %>">
                <% if (locals.errors && errors.city) { %>
                    <small><%= errors.city.msg %></small>
                <% } %>
            </div>
            <div>
                <span>Usted tiene la siguiente imagen:</span>
                <img src="/img/users/<%= user.image %> " alt="">
            </div>
            <div class="container">
                <label for="signinFile" >Cambiar imagen</label>
                  <input class="signinFile" type="file" id="signinFile" name="imageUser" >
                  <% if (locals.errors && errors.imageUser) { %>
                    <small><%= errors.imageUser.msg %> </small>
                <% } %>
            </div>
            <h2 class="bottom"></h2>
            <div class="bottom">
                <button type="submit">Guardar Datos</button>
                <button type="reset">Cancelar</button>
            </div>

        </form>

    </main>
    
    <%- include("../partials/footer") %> 

</body>

</html>