<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %> 
    
<body class="signin">
    
    <%- include("../partials/header") %>
   
    <main class="signin">
        <h1>Editar Datos Personales</h1>
        <form action="/user/editUser?_method=Put" method="POST" enctype="multipart/form-data">
            <h2 class="container bottom"></h2>
            <div class="container">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Ingresa tu nombre" value="<%= user.first_name? user.first_name : "" %>" >
                <% if (locals.errors && errors.name) { %>
                    <small><%= errors.name.msg %></small>
                <% } %>
                
            </div>
            <div class="container">
                <label for="lastName">Apellido</label>
                <input type="text" name="lastName" id="lastName" placeholder="Ingresa tu apellido" value="<%= user.last_name? user.last_name : "" %>">
                <% if (locals.errors && errors.lastName) { %>
                    <small><%= errors.lastName.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email" value="<%= user.email? user.email : "" %>">
                <% if (locals.errors && errors.email) { %>
                    <small><%= errors.email.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="phoneNumber">Celular</label>
                <input type="number" name="phoneNumber" id="phoneNumber" placeholder="11..." value="<%=user.phoneNumber? user.phoneNumber: ""%>">
                <% if (locals.errors && errors.phoneNumber) { %>
                    <small><%= errors.phoneNumber.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="city">Ciudad</label>
                <input type="text" name="city" id="city" placeholder="Ej: Buenos Aires, etc" value="<%= user.city? user.city: "" %>">
                <% if (locals.errors && errors.city) { %>
                    <small><%= errors.city.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="pass">Contrase単a</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresa tu contrase単a">
                <% if (locals.errors && errors.pass) { %>
                    <small><%= errors.pass.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="pass2">Confirmar tu contrase単a</label>
                <input type="password" name="pass2" id="pass2" placeholder="Confirmar contrase単a">
                <% if (locals.errors && errors.pass2) { %>
                    <small><%= errors.pass2.msg %></small>
                <% } %>
            </div>
            <div class="container">
                <label for="signinFile" >Cambiar imagen</label>
                  <input class="signinFile" type="file" id="signinFile" name="imageUser" >
                  <% if (locals.errors && errors.imageUser) { %>
                    <small><%= errors.imageUser.msg %> </small>
                <% } %>
            </div>  
            <h2 class="bottom"></h2>
            <div class="bottom">
                <button type="submit">Guardar Datos</button>
                <button type="reset">Cancelar</button>
            </div>

        </form>

    </main>
    
    <%- include("../partials/footer") %> 

</body>

</html>