<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %> 

<body class="login">

    <%- include("../partials/header") %>
   
    <main class="login">
        <h1>LOGIN</h1>
        <form action="" method="post">
            <h2 class="container bottom"></h2>
            <div class="container bottom">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email" value="<%= locals.old && old.email ? old.email : null%>">
                <% if (locals.errors && errors.email) { %>

                    <small><%= errors.email.msg %> </small>

                <% } %>
                <small id="emailContainer"></small>
                
            </div>
            
            <div class="container bottom">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresa tu contraseña">
                <% if (locals.errors && errors.pass) { %>

                    <small><%= errors.pass.msg %> </small>

                <% } %>
                <small id="passContainer"></small>
                
                
            </div>
            
            <h2 class="bottom"></h2>
            <div class="recordarme bottom">
                <input type="checkbox" name="recordame" id="recordame" value="Recordame">
                <label for="recordame">Recordame</label>
            </div>
            
            <h2 class="bottom"></h2>
            <div class=" bottom">
                <button type="submit"id="btn">Entrar</button>
                <button type="reset">Cancelar</button>
             </div>

            <h4><a href="/contraseña">¿has olvidado tu contraseña?</a></h4>
            <h4><a href="/users/signin">¿no tienes cuenta? Registrate</a></h4>
        </form>
    </main>

    <%- include("../partials/footer") %> 
    <script src="/js/login.js"></script>
</body>
</html>
