<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %> 

<body class="profile">

    <%- include("../partials/header") %> 


    <main>
        <section class="seccion-perfil-usuario">
            
            <div class="perfil-usuario-avatar">
                <img src="/img/users/<%= user.image %> " alt="img-avatar">
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
            </div>

            <div class="perfil-usuario-body">

                <div class="perfil-usuario-bio">
                    <h3 class="titulo"><%= user.first_name %> <%= user.last_name %></h3>
                </div>
                <div class="perfil-usuario-datos">
                <ul class="lista-datos">
                    <li><i class="icono fa-solid fa-cart-shopping"></i><a href="/cart">Mi carrito</a></li>
                    <li><i class="icono fas fa-phone-alt"></i>Teléfono: <%= user.phoneNumber %>  </i></li>
                </ul>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-map-marker-alt"></i> Ciudad: <%= user.city %>  </li>
                    <li><i class="icono fas fa-solid fa-envelope"></i>Email: <%= user.email %>  </li>
                </ul>
                </div>
            </div>
        </section>
        <section class="container-section">
                <div class="perfil-usuario-last">
                    <form action="/user/logout?_method=DELETE" method="post">
                        <button type="submit">Cerrar Sesión</button>
                    </form>
                </div>
                <div class="perfil-usuario-last">
                <a href="/user/editUser">
                    <button>Editar Datos</button>
                    </a>
                </div>
        </section>
    </main>

    <%- include("../partials/footer") %> 
    
</body>

</html>